<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" >
</head>
<body>
<div class="container text-center">
    <div>
        <h1>List Semua User</h1>
    </div>
    <div>
        <table class="table table-stripped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user:${listUser}">
                    <td th:text="${user.id}">User ID</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>